.busqueda{
    background-color: antiquewhite;
}

.lo-mas-nuevo-noticias{
    background-color:aqua;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 3fr;
    /* grid-template-columns: 1fr 6fr 1fr 3fr; */
    grid-template-rows: 1fr 9fr;
}

.noticia-header{
    background-color: beige;
    grid-column-start: 1;
    grid-column-end: 10;
}
.btn-noticia-anterior{
    background-color: blue;
}
.btn-ultima-noticia{
    background-color: blue;
}