.report{
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.report-1 {
  width: 100%;
  max-width: 500px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-size: 24px;
  color: #668c31;
  margin-bottom: 20px;
  text-align: center;
}

.card input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.card .envio {
  background-color: #668c31;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.card .envio:hover {
  background-color: #668c31;
}

.card p {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.inv-1{
    max-width: 500px;
    margin-left: 100px;
}

main{
    background: linear-gradient( #789e42, #9cc264);
}

body{
    background: linear-gradient( #9cc264, #9cc264);
}

footer{
    margin-top: 220px;
}

@media (max-width: 1113px) {

  .report{
    flex-direction: column;
    gap: 25px;
  }
  .inv-1{
    text-align: center;
    margin: 20px;
  }
  footer{
    margin-top: 50px;
  }
}